/* .login {
  background-color: #fafafa;
  display: flex;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.loginForm {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 314px;
  left: 372px;
  position: absolute;
  top: 431px;
  width: 697px;
}

.loginLogo {
  display: flex;
  height: 158px;
  left: 470px;
  position: absolute;
  top: 169px;
  width: 208px;
}

.loginUserName {
  align-items: flex-start;
  background-color: white;
  border: 1px solid #e1e5eb;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  height: 45px;
  left: 454px;
  padding: 12px 16px;
  position: absolute;
  top: 525px;
  width: 519px;
} */
